# dependencies
node_modules

# build outputs
.next
dist
build

# env
.env
.env.local

# logs
*.log

# turbo
.turbo

# uploads
uploads

# prisma
*.db

# OS
.DS_Store

# IDE
.vscode
.idea

# coverage
coverage

dist